@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    height: 7000px;
}

.navbar {
    background-color: #1581BF !important;
}

.dropdown-menu {
    background-color: #3DB6B1;
}

.dropdown-item {
    color: #fff;
}

a {
    color: #fff !important;
}

a:hover {
    color: #000 !important;
}

.carousel-item img {
    height: 100vh;
}

.arrow {
    font-size: 40px;
    color: #1581BF;
}

.carousel-caption {
    background-color: #1581bf51;
    height: 240px;
    transition: ease 0.4s;
    bottom: 8rem;
    padding: 40px;
}

.carousel-caption p {
    margin-bottom: 50px;
}

.carousel-caption:hover {
    background-color: #1581bf8b;
}

.buttons {
    margin-bottom: 100px;
}

.mybtn1,
.buttons button {
    border: none;
    background-color: #3DB6B1;
    height: 50px;
    width: 200px;
    color: #fff;
    border-radius: 20px;
    transition: ease 0.4s;
}

.buttons button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    margin-left: 10px;
}

.mybtn1:hover,
.buttons button:hover {
    background-color: #F6B1CE;
    border-radius: 50px;
}

.carousel-indicators button {
    height: 20px !important;
    width: 20px !important;
    border-radius: 50%;
}

/* offcanvas */

.offcan-img {
    height: 250px !important;
    width: 200px;
}

.offcan-header {
    color: crimson;
}

.offcan-img {
    transition: ease 0.4s;
}

.offcan-img:hover {
    transform: skew(-5deg);
}

/* Products */
.text-header {
    padding-bottom: 5px;
    border-bottom: #F6B1CE solid 5px;
    margin-bottom: 20px;
}

.stars {
    margin-bottom: 10px;
}

.stars .star {
    color: #3DB6B1;
}

.stars .star:hover {
    color: #F6B1CE;
    cursor: pointer;
}

.card img {
    transition: ease 0.4s;
}

.card img:hover {
    transform: scale(1.05, 1.05);
}

/* Colors */

.bgBlue {
    color: #1581BF;
}

.bgGreen {
    color: #3DB6B1;
}

.bgRed {
    color: #F6B1CE;
}